defmodule <%= @module %>Test do
  use ExUnit.Case

  import JsonXema, only: [valid?: 2]
  <%= for %{"description" => desc, "schema" => schema, "tests" => tests} <- @test_cases do %>
  describe ~s|<%= desc %>| do
    setup do
      %{schema: JsonXema.new(
        <%= inspect schema %>
      )}
    end

    <%= for %{"description" => description, "data" => data, "valid" => valid} <- tests do %>
      test ~s|<%= description %>|, %{schema: schema} do
        <%= if valid do %>assert<% else %>refute<% end %> valid?(schema, <%= inspect data %>)
      end
    <% end %>
  end
  <% end %>
end
